In [1]:
import glob
flist = glob.glob("airbnb/*.csv")
flist

['airbnb\\reviews.csv', 'airbnb\\reviews11.csv']

In [2]:
import pandas as pd
pd.read_csv(flist[0], encoding="utf-8")

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,50904,31511792,2015-05-06,19482395,Jihae,Karin’s “Aplace” is absolutely beautiful and c...
1,116134,972063,2012-03-05,928644,Aurélien,"Amazing flat, really close from the MAS Musem,..."
2,116134,1344011,2012-05-25,231288,Gail,"This is a well equipped, very comfortable apar..."
3,116134,7019975,2013-09-03,7984251,Marcel,This is a very nice appartement. We really lik...
4,116134,7693157,2013-09-30,1609507,Barbara,"The appartment is beautiful, the best I've eve..."
5,116134,8754158,2013-11-16,9463117,Brian,Enjoyed an excellent time in Antwerp. \r\n\r\n...
6,116134,11172172,2014-03-24,10997837,Rose,Fantastic trip to Antwerp!\r\n\r\nStaying in P...
7,116134,12771833,2014-05-11,10598402,Michel,Wij hebben met ons drieën een volle week genot...
8,116134,15696591,2014-07-14,1497678,Katrin,Beautiful and spacious apartment with great in...
9,116134,16072435,2014-07-22,11939919,Chris,Great flat in a very nice area of Antwerp. Hos...
10,116134,22793118,2014-11-15,2754930,Chris,Paul's apartment is excellent. The place is cl...
11,116134,23208023,2014-11-25,21445655,Elizabeth,Paul and Gina greeted us and told us about the...
12,116134,23829542,2014-12-11,22615566,Lauren,Paul was fantastic! I emailed him late at nigh...
13,116134,25446535,2015-01-16,25293966,Jeff,Paul was already at the apartment when I arriv...
14,116134,25747441,2015-01-25,9380730,Mascha,Mooi en groot appartement op een goede locatie...
15,116134,26583948,2015-02-16,18722745,Steve,An absolutely fantastic place. I have no hesit...
16,116134,26910644,2015-02-22,25052173,Torsten,Wir sind von dieser Wohnung total begeistert!...
17,116134,27205460,2015-02-28,14147234,Justyna,"Lovely, very comfortable apartment in a great ..."
18,116134,28493682,2015-03-24,29146454,Andrew,"This is a great apartment that I would, and ha..."
19,116134,29050147,2015-04-03,3293278,Maria,Paul and Gina are amazing hosts - everything w...
20,116134,29182691,2015-04-05,17807965,Eline,Het appartement van Paul ligt op een geweldige...
21,116134,30097139,2015-04-17,24505805,Femia,Wij hebben een heerlijk verblijf gehad in het ...
22,116134,30184712,2015-04-19,2402296,Corry,We hebben een zeer aangenaam verblijf gehad in...
23,116134,30516391,2015-04-23,9608094,Neil,We had a wonderful few days in this apartment....
24,116134,33001005,2015-05-24,4001560,Helene,Binnen minuten ontmoetten we eigenaar Paul. Vr...
25,116134,34190431,2015-06-06,27255693,Bernhard,Die Wohnung ist absolut perfekt. Paul hat sich...
26,116134,43894183,2015-08-23,2395497,Reinhart,Die Wohnung war für uns (zwei Paare)perfekt. S...
27,116134,54581879,2015-11-22,519856,Nicole,Heerlijk weekend in Antwerpen met vriendinnen....
28,116134,55299600,2015-11-29,10039285,Marita,Wij hebben een superweekend gehad in dit mooie...
29,116134,55819667,2015-12-06,8322287,Graeme,"Perfect, again!"
...,...,...,...,...,...,...
54393,29401728,343653547,2018-11-01,10843,Jyl,"Beautiful, cozy, bright space located close t..."
54394,29401728,347344854,2018-11-11,55885319,Deegrol,Charisse is zeer vriendelijk! Heel stijlvol ap...
54395,29411833,343092544,2018-10-30,93898814,Alan,Appartement très bien situé et extrêmement con...
54396,29411833,344690448,2018-11-04,184727226,Andrew,Martin s place is very close to the Cathedral ...
54397,29423576,344694932,2018-11-04,174967669,Ernst-Jan,Een prima appartement op een perfecte plek! 50...
54398,29423576,348535132,2018-11-14,107079327,Gina,The location made our visit very convenient. D...
54399,29423576,349925795,2018-11-18,119133384,Gerry,A wonderful place in a great location. Dirk an...
54400,29431511,345841671,2018-11-06,26958275,Heike Hertger,Die Unterkunft ist hell und geschmackvoll eing...
54401,29450086,341238037,2018-10-26,35944343,Wendy,Janice and husband are very nice people. Great...
54402,29454542,341194365,2018-10-26,154019613,Jelena,The house is in a weird street but is about 1...
54403,29454542,341514671,2018-10-27,190293925,Casa Flora,"Todo muy bien! Un lugar accesible, cómodo y ag..."
54404,29454542,343101091,2018-10-30,182787654,Franziska,Preis-Leistungsverhältnis unschlagbar! \nLau h...
54405,29454542,346955244,2018-11-10,184954315,Hrisi,Very well kept and clean place! The hosts we'r...
54406,29523297,342757153,2018-10-29,222568387,Kevser,Das Haus ist in einem super Zustand und sehr s...
54407,29523297,344976456,2018-11-04,211781025,Perrine,Peggy est extrêmement gentille et humaine. Nou...
54408,29523297,349934265,2018-11-18,16393674,Sofia,L appartement est conforme à la description et...
54409,29561326,347880941,2018-11-12,13024684,Eva,My friend and I stayed at Sofie‘s place for a ...
54410,29562413,344852096,2018-11-04,35215920,Michael,Our stay at Kevin was really perfect. We have ...
54411,29562413,347349983,2018-11-11,28019707,Nils,5 Stars *****\nWe had four wonderful days in K...
54412,29562413,348516499,2018-11-14,213004122,Philippe,Magnificent studio in Antwerp with a beauty of...
54413,29563117,344915807,2018-11-04,12722672,Charles,Very nice place and amazing view !
54414,29563117,346586206,2018-11-09,50656860,Danuta,Beautiful apartment! The host was very friendl...
54415,29618224,343379052,2018-10-31,223126400,Sally,"Beautiful location very nice apartment , just ..."
54416,29646114,343612142,2018-11-01,208838964,Jialing,"Communicatie,gastvrijheid en stijlvolle kamer."
54417,29646114,344269173,2018-11-03,14558602,Matt,Good place for a quick stay over. Andrii is ve...
54418,29682609,344670394,2018-11-04,46374070,Ed,I stayed during a special circumstance (they a...
54419,29797685,349755114,2018-11-18,226146141,Yanaika,Wij hebben een super verblijf gehad dit in com...
54420,29845958,349413895,2018-11-17,9727326,Billie,Top verhuurders. Heel toffe attentie! Heel tof...
54421,29934730,347757589,2018-11-11,17829059,Evert,The host canceled this reservation 32 days bef...
54422,29975888,349006632,2018-11-16,48610121,Monica,"De verdad que es una hermosura de casa, de var..."

In [3]:
# Concat第一種寫法
df = None
for fn in flist:
    temp = pd.read_csv(fn, encoding="utf-8")
    # 第一個csv -> df設定成第一個
    if df is None:
        df = temp
    # 第二個csv以後 -> 嫁接到原本的csv
    else:
        df = pd.concat([df, temp], axis=0, ignore_index=True)
df

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,50904,31511792,2015-05-06,19482395,Jihae,Karin’s “Aplace” is absolutely beautiful and c...
1,116134,972063,2012-03-05,928644,Aurélien,"Amazing flat, really close from the MAS Musem,..."
2,116134,1344011,2012-05-25,231288,Gail,"This is a well equipped, very comfortable apar..."
3,116134,7019975,2013-09-03,7984251,Marcel,This is a very nice appartement. We really lik...
4,116134,7693157,2013-09-30,1609507,Barbara,"The appartment is beautiful, the best I've eve..."
5,116134,8754158,2013-11-16,9463117,Brian,Enjoyed an excellent time in Antwerp. \r\n\r\n...
6,116134,11172172,2014-03-24,10997837,Rose,Fantastic trip to Antwerp!\r\n\r\nStaying in P...
7,116134,12771833,2014-05-11,10598402,Michel,Wij hebben met ons drieën een volle week genot...
8,116134,15696591,2014-07-14,1497678,Katrin,Beautiful and spacious apartment with great in...
9,116134,16072435,2014-07-22,11939919,Chris,Great flat in a very nice area of Antwerp. Hos...
10,116134,22793118,2014-11-15,2754930,Chris,Paul's apartment is excellent. The place is cl...
11,116134,23208023,2014-11-25,21445655,Elizabeth,Paul and Gina greeted us and told us about the...
12,116134,23829542,2014-12-11,22615566,Lauren,Paul was fantastic! I emailed him late at nigh...
13,116134,25446535,2015-01-16,25293966,Jeff,Paul was already at the apartment when I arriv...
14,116134,25747441,2015-01-25,9380730,Mascha,Mooi en groot appartement op een goede locatie...
15,116134,26583948,2015-02-16,18722745,Steve,An absolutely fantastic place. I have no hesit...
16,116134,26910644,2015-02-22,25052173,Torsten,Wir sind von dieser Wohnung total begeistert!...
17,116134,27205460,2015-02-28,14147234,Justyna,"Lovely, very comfortable apartment in a great ..."
18,116134,28493682,2015-03-24,29146454,Andrew,"This is a great apartment that I would, and ha..."
19,116134,29050147,2015-04-03,3293278,Maria,Paul and Gina are amazing hosts - everything w...
20,116134,29182691,2015-04-05,17807965,Eline,Het appartement van Paul ligt op een geweldige...
21,116134,30097139,2015-04-17,24505805,Femia,Wij hebben een heerlijk verblijf gehad in het ...
22,116134,30184712,2015-04-19,2402296,Corry,We hebben een zeer aangenaam verblijf gehad in...
23,116134,30516391,2015-04-23,9608094,Neil,We had a wonderful few days in this apartment....
24,116134,33001005,2015-05-24,4001560,Helene,Binnen minuten ontmoetten we eigenaar Paul. Vr...
25,116134,34190431,2015-06-06,27255693,Bernhard,Die Wohnung ist absolut perfekt. Paul hat sich...
26,116134,43894183,2015-08-23,2395497,Reinhart,Die Wohnung war für uns (zwei Paare)perfekt. S...
27,116134,54581879,2015-11-22,519856,Nicole,Heerlijk weekend in Antwerpen met vriendinnen....
28,116134,55299600,2015-11-29,10039285,Marita,Wij hebben een superweekend gehad in dit mooie...
29,116134,55819667,2015-12-06,8322287,Graeme,"Perfect, again!"
...,...,...,...,...,...,...
486223,30202932,355168473,2018-12-03,205463672,Maria,Excellente hospitalité sur tous les plans. Jac...
486224,30202960,351947549,2018-11-24,179652101,Le-Yang,The host canceled this reservation 41 days bef...
486225,30202960,352108851,2018-11-24,208049290,Ibrahim,The host canceled this reservation 39 days bef...
486226,30203105,351149025,2018-11-21,113846176,Yoann,The host canceled this reservation 10 days bef...
486227,30204048,354261668,2018-12-01,162410036,Franck,Très bon séjour et l'hôte est très sympa.
486228,30220744,354609792,2018-12-02,214656652,Jessie,We had such a great stay in this beautiful apa...
486229,30244717,353952701,2018-11-30,218978575,Karina,Definitely recommend this place we had a great...
486230,30248825,351836968,2018-11-24,204443,Brian,The host canceled this reservation 33 days bef...
486231,30248825,353488293,2018-11-28,47541457,Daniel,The host canceled this reservation 35 days bef...
486232,30248825,353520397,2018-11-28,98433211,Filip,The host canceled this reservation 32 days bef...
486233,30250660,355247427,2018-12-03,107897130,Marine,It was a great stay! Really flexible :)
486234,30251047,351947771,2018-11-24,227301653,Michelle,The host canceled this reservation 35 days bef...
486235,30280678,355181925,2018-12-03,159918317,Michèle,I had an excellent stay. It's a cute studio wi...
486236,30309681,354272856,2018-12-01,82812890,Karolina,Alles bestens!
486237,30339819,353466323,2018-11-28,29213371,Houria,The host canceled this reservation 3 days befo...
486238,30339819,353470937,2018-11-28,75044296,Pablo,The host canceled this reservation 31 days bef...
486239,30339819,353470958,2018-11-28,227897039,Hoang Thuc Uyen,The host canceled this reservation 16 days bef...
486240,30339819,353472213,2018-11-28,161809860,Σταθης,The host canceled this reservation 21 days bef...
486241,30339819,353472377,2018-11-28,196807320,Valentina,The host canceled this reservation 28 days bef...
486242,30342336,354633687,2018-12-02,199503213,Tara,Really good located!!! Owners are really nice....
486243,30346403,355992396,2018-12-06,9162553,Gérald,The host canceled this reservation 23 days bef...
486244,30393691,355221317,2018-12-03,116650142,Catalin,The host canceled this reservation 27 days bef...
486245,30418746,354894207,2018-12-02,11047518,Ethan,The host canceled this reservation 12 days bef...
486246,30423566,355482960,2018-12-04,29211442,R,Most wonderful hospitality and friendliness.
486247,30433356,355152237,2018-12-03,185768463,Winnie,The host canceled this reservation 28 days bef...
486248,30435529,355474875,2018-12-04,131376847,Andy,The host canceled this reservation the day bef...
486249,30439111,355041813,2018-12-02,103201416,Mohammed,The host canceled this reservation 20 days bef...
486250,30518120,355519016,2018-12-04,228738702,Valeriya,The host canceled this reservation 22 days bef...
486251,30525429,355658538,2018-12-05,111439550,Lucas,I loved this house! It is truly incredible and...
486252,30550093,355872191,2018-12-06,226911176,Mohamed Amine,I love it I recommend

In [4]:
# 先準備等一下要接所有csv的list
alldf = []
for fn in flist:
    # 每讀一個, 就把它丟進list
    temp = pd.read_csv(fn, encoding="utf-8")
    alldf.append(temp)
# 最後一次concat
df2 = pd.concat(alldf, axis=0, ignore_index=True)
df2

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,50904,31511792,2015-05-06,19482395,Jihae,Karin’s “Aplace” is absolutely beautiful and c...
1,116134,972063,2012-03-05,928644,Aurélien,"Amazing flat, really close from the MAS Musem,..."
2,116134,1344011,2012-05-25,231288,Gail,"This is a well equipped, very comfortable apar..."
3,116134,7019975,2013-09-03,7984251,Marcel,This is a very nice appartement. We really lik...
4,116134,7693157,2013-09-30,1609507,Barbara,"The appartment is beautiful, the best I've eve..."
5,116134,8754158,2013-11-16,9463117,Brian,Enjoyed an excellent time in Antwerp. \r\n\r\n...
6,116134,11172172,2014-03-24,10997837,Rose,Fantastic trip to Antwerp!\r\n\r\nStaying in P...
7,116134,12771833,2014-05-11,10598402,Michel,Wij hebben met ons drieën een volle week genot...
8,116134,15696591,2014-07-14,1497678,Katrin,Beautiful and spacious apartment with great in...
9,116134,16072435,2014-07-22,11939919,Chris,Great flat in a very nice area of Antwerp. Hos...
10,116134,22793118,2014-11-15,2754930,Chris,Paul's apartment is excellent. The place is cl...
11,116134,23208023,2014-11-25,21445655,Elizabeth,Paul and Gina greeted us and told us about the...
12,116134,23829542,2014-12-11,22615566,Lauren,Paul was fantastic! I emailed him late at nigh...
13,116134,25446535,2015-01-16,25293966,Jeff,Paul was already at the apartment when I arriv...
14,116134,25747441,2015-01-25,9380730,Mascha,Mooi en groot appartement op een goede locatie...
15,116134,26583948,2015-02-16,18722745,Steve,An absolutely fantastic place. I have no hesit...
16,116134,26910644,2015-02-22,25052173,Torsten,Wir sind von dieser Wohnung total begeistert!...
17,116134,27205460,2015-02-28,14147234,Justyna,"Lovely, very comfortable apartment in a great ..."
18,116134,28493682,2015-03-24,29146454,Andrew,"This is a great apartment that I would, and ha..."
19,116134,29050147,2015-04-03,3293278,Maria,Paul and Gina are amazing hosts - everything w...
20,116134,29182691,2015-04-05,17807965,Eline,Het appartement van Paul ligt op een geweldige...
21,116134,30097139,2015-04-17,24505805,Femia,Wij hebben een heerlijk verblijf gehad in het ...
22,116134,30184712,2015-04-19,2402296,Corry,We hebben een zeer aangenaam verblijf gehad in...
23,116134,30516391,2015-04-23,9608094,Neil,We had a wonderful few days in this apartment....
24,116134,33001005,2015-05-24,4001560,Helene,Binnen minuten ontmoetten we eigenaar Paul. Vr...
25,116134,34190431,2015-06-06,27255693,Bernhard,Die Wohnung ist absolut perfekt. Paul hat sich...
26,116134,43894183,2015-08-23,2395497,Reinhart,Die Wohnung war für uns (zwei Paare)perfekt. S...
27,116134,54581879,2015-11-22,519856,Nicole,Heerlijk weekend in Antwerpen met vriendinnen....
28,116134,55299600,2015-11-29,10039285,Marita,Wij hebben een superweekend gehad in dit mooie...
29,116134,55819667,2015-12-06,8322287,Graeme,"Perfect, again!"
...,...,...,...,...,...,...
486223,30202932,355168473,2018-12-03,205463672,Maria,Excellente hospitalité sur tous les plans. Jac...
486224,30202960,351947549,2018-11-24,179652101,Le-Yang,The host canceled this reservation 41 days bef...
486225,30202960,352108851,2018-11-24,208049290,Ibrahim,The host canceled this reservation 39 days bef...
486226,30203105,351149025,2018-11-21,113846176,Yoann,The host canceled this reservation 10 days bef...
486227,30204048,354261668,2018-12-01,162410036,Franck,Très bon séjour et l'hôte est très sympa.
486228,30220744,354609792,2018-12-02,214656652,Jessie,We had such a great stay in this beautiful apa...
486229,30244717,353952701,2018-11-30,218978575,Karina,Definitely recommend this place we had a great...
486230,30248825,351836968,2018-11-24,204443,Brian,The host canceled this reservation 33 days bef...
486231,30248825,353488293,2018-11-28,47541457,Daniel,The host canceled this reservation 35 days bef...
486232,30248825,353520397,2018-11-28,98433211,Filip,The host canceled this reservation 32 days bef...
486233,30250660,355247427,2018-12-03,107897130,Marine,It was a great stay! Really flexible :)
486234,30251047,351947771,2018-11-24,227301653,Michelle,The host canceled this reservation 35 days bef...
486235,30280678,355181925,2018-12-03,159918317,Michèle,I had an excellent stay. It's a cute studio wi...
486236,30309681,354272856,2018-12-01,82812890,Karolina,Alles bestens!
486237,30339819,353466323,2018-11-28,29213371,Houria,The host canceled this reservation 3 days befo...
486238,30339819,353470937,2018-11-28,75044296,Pablo,The host canceled this reservation 31 days bef...
486239,30339819,353470958,2018-11-28,227897039,Hoang Thuc Uyen,The host canceled this reservation 16 days bef...
486240,30339819,353472213,2018-11-28,161809860,Σταθης,The host canceled this reservation 21 days bef...
486241,30339819,353472377,2018-11-28,196807320,Valentina,The host canceled this reservation 28 days bef...
486242,30342336,354633687,2018-12-02,199503213,Tara,Really good located!!! Owners are really nice....
486243,30346403,355992396,2018-12-06,9162553,Gérald,The host canceled this reservation 23 days bef...
486244,30393691,355221317,2018-12-03,116650142,Catalin,The host canceled this reservation 27 days bef...
486245,30418746,354894207,2018-12-02,11047518,Ethan,The host canceled this reservation 12 days bef...
486246,30423566,355482960,2018-12-04,29211442,R,Most wonderful hospitality and friendliness.
486247,30433356,355152237,2018-12-03,185768463,Winnie,The host canceled this reservation 28 days bef...
486248,30435529,355474875,2018-12-04,131376847,Andy,The host canceled this reservation the day bef...
486249,30439111,355041813,2018-12-02,103201416,Mohammed,The host canceled this reservation 20 days bef...
486250,30518120,355519016,2018-12-04,228738702,Valeriya,The host canceled this reservation 22 days bef...
486251,30525429,355658538,2018-12-05,111439550,Lucas,I loved this house! It is truly incredible and...
486252,30550093,355872191,2018-12-06,226911176,Mohamed Amine,I love it I recommend

In [5]:
# 行操作
df["date"]

0         2015-05-06
1         2012-03-05
2         2012-05-25
3         2013-09-03
4         2013-09-30
5         2013-11-16
6         2014-03-24
7         2014-05-11
8         2014-07-14
9         2014-07-22
10        2014-11-15
11        2014-11-25
12        2014-12-11
13        2015-01-16
14        2015-01-25
15        2015-02-16
16        2015-02-22
17        2015-02-28
18        2015-03-24
19        2015-04-03
20        2015-04-05
21        2015-04-17
22        2015-04-19
23        2015-04-23
24        2015-05-24
25        2015-06-06
26        2015-08-23
27        2015-11-22
28        2015-11-29
29        2015-12-06
             ...
486223    2018-12-03
486224    2018-11-24
486225    2018-11-24
486226    2018-11-21
486227    2018-12-01
486228    2018-12-02
486229    2018-11-30
486230    2018-11-24
486231    2018-11-28
486232    2018-11-28
486233    2018-12-03
486234    2018-11-24
486235    2018-12-03
486236    2018-12-01
486237    2018-11-28
486238    2018-11-28
486239    2018-11-28
486240    2018-11-28
486241    2018-11-28
486242    2018-12-02
486243    2018-12-06
486244    2018-12-03
486245    2018-12-02
486246    2018-12-04
486247    2018-12-03
486248    2018-12-04
486249    2018-12-02
486250    2018-12-04
486251    2018-12-05
486252    2018-12-06
Name: date, Length: 486253, dtype: object

In [6]:
# 多個行 [ [] ] 外面[]: 行操作 裡面[]: 把欄位組合成一個list
df[ ["id", "date"] ]

               id        date
0        31511792  2015-05-06
1          972063  2012-03-05
2         1344011  2012-05-25
3         7019975  2013-09-03
4         7693157  2013-09-30
5         8754158  2013-11-16
6        11172172  2014-03-24
7        12771833  2014-05-11
8        15696591  2014-07-14
9        16072435  2014-07-22
10       22793118  2014-11-15
11       23208023  2014-11-25
12       23829542  2014-12-11
13       25446535  2015-01-16
14       25747441  2015-01-25
15       26583948  2015-02-16
16       26910644  2015-02-22
17       27205460  2015-02-28
18       28493682  2015-03-24
19       29050147  2015-04-03
20       29182691  2015-04-05
21       30097139  2015-04-17
22       30184712  2015-04-19
23       30516391  2015-04-23
24       33001005  2015-05-24
25       34190431  2015-06-06
26       43894183  2015-08-23
27       54581879  2015-11-22
28       55299600  2015-11-29
29       55819667  2015-12-06
...           ...         ...
486223  355168473  2018-12-03
486224  351947549  2018-11-24
486225  352108851  2018-11-24
486226  351149025  2018-11-21
486227  354261668  2018-12-01
486228  354609792  2018-12-02
486229  353952701  2018-11-30
486230  351836968  2018-11-24
486231  353488293  2018-11-28
486232  353520397  2018-11-28
486233  355247427  2018-12-03
486234  351947771  2018-11-24
486235  355181925  2018-12-03
486236  354272856  2018-12-01
486237  353466323  2018-11-28
486238  353470937  2018-11-28
486239  353470958  2018-11-28
486240  353472213  2018-11-28
486241  353472377  2018-11-28
486242  354633687  2018-12-02
486243  355992396  2018-12-06
486244  355221317  2018-12-03
486245  354894207  2018-12-02
486246  355482960  2018-12-04
486247  355152237  2018-12-03
486248  355474875  2018-12-04
486249  355041813  2018-12-02
486250  355519016  2018-12-04
486251  355658538  2018-12-05
486252  355872191  2018-12-06

[486253 rows x 2 columns]

In [7]:
# 列操作
df.head(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,50904,31511792,2015-05-06,19482395,Jihae,Karin’s “Aplace” is absolutely beautiful and c...
1,116134,972063,2012-03-05,928644,Aurélien,"Amazing flat, really close from the MAS Musem,..."
2,116134,1344011,2012-05-25,231288,Gail,"This is a well equipped, very comfortable apar..."
3,116134,7019975,2013-09-03,7984251,Marcel,This is a very nice appartement. We really lik...
4,116134,7693157,2013-09-30,1609507,Barbara,"The appartment is beautiful, the best I've eve..."

In [8]:
df.tail(5)

,listing_id,id,date,reviewer_id,reviewer_name,comments
486248,30435529,355474875,2018-12-04,131376847,Andy,The host canceled this reservation the day bef...
486249,30439111,355041813,2018-12-02,103201416,Mohammed,The host canceled this reservation 20 days bef...
486250,30518120,355519016,2018-12-04,228738702,Valeriya,The host canceled this reservation 22 days bef...
486251,30525429,355658538,2018-12-05,111439550,Lucas,I loved this house! It is truly incredible and...
486252,30550093,355872191,2018-12-06,226911176,Mohamed Amine,I love it I recommend

In [9]:
# .iloc -> [第一列, 第二列, 第三列]
# 第五列
df.iloc[4]

listing_id                                                  116134
id                                                         7693157
date                                                    2013-09-30
reviewer_id                                                1609507
reviewer_name                                              Barbara
comments         The appartment is beautiful, the best I've eve...
Name: 4, dtype: object

In [10]:
# 以前我們用的
import random
# 0~100(包含)
random.randint(0, 100)

88

In [11]:
# numpy: 讓你來處理大量數字
import numpy as np
# 0~99(100不包含)
np.random.randint(0, 100, 5)

array([70, 31, 41, 31, 38])

In [12]:
# 列, 行　tuple
df.shape

(486253, 6)

In [13]:
idx = np.random.randint(0, df.shape[0], 5)
df.iloc[idx]

,listing_id,id,date,reviewer_id,reviewer_name,comments
65369,152280,1183291,2012-04-26,1253453,Cecilia,"Very nice room, with a balcony and a kitchen. ..."
409704,17991138,169161924,2017-07-11,6496655,Ben,Staying at Steve's place was great. It was ver...
69059,239647,91065025,2016-08-03,69204181,Jonathan,Gezellige kamer en vriendelijke ontvangst! De ...
167890,2739228,353302599,2018-11-27,43027483,Igor,A cozy little room for a reasonable price in a...
322552,11858419,82757753,2016-06-29,27791676,Marigene,Great stay ! Good location

In [16]:
sample = """Amazing flat, really close from the MAS Musem, and 15 minutes walking from the Cathedral. 

Really calm, many space and light, perfect for 2 couples, perfect for a weekend.
"""
from rake_nltk import Rake
r = Rake() # Uses stopwords for english from NLTK, and all puntuation characters.
r.extract_keywords_from_text(sample)
r.get_ranked_phrases()

['15 minutes walking',
 'really close',
 'really calm',
 'mas musem',
 'many space',
 'amazing flat',
 '2 couples',
 'weekend',
 'perfect',
 'light',
 'cathedral']

In [24]:
# 定義一個流程 -> 對所有格子始用這個流程(Series.apply)
def analyze(s):
    r = Rake() # Uses stopwords for english from NLTK, and all puntuation characters.
    r.extract_keywords_from_text(s)
    return str(r.get_ranked_phrases()) 
# df["comments"].head(10).astype(str).apply(analyze)
df["key_phrase"] = df["comments"].astype(str).apply(analyze)
df.to_csv("key_phrase.csv", encoding="utf-8", index=False)
df

,listing_id,id,date,reviewer_id,reviewer_name,comments,key_phrase
0,50904,31511792,2015-05-06,19482395,Jihae,Karin’s “Aplace” is absolutely beautiful and c...,"['“ aplace ”', 'guests feel like', 'cozy bouti..."
1,116134,972063,2012-03-05,928644,Aurélien,"Amazing flat, really close from the MAS Musem,...","['15 minutes walking', 'really nice city', 're..."
2,116134,1344011,2012-05-25,231288,Gail,"This is a well equipped, very comfortable apar...","['kitchen equipment imaginable', 'convenient g..."
3,116134,7019975,2013-09-03,7984251,Marcel,This is a very nice appartement. We really lik...,"['private indoor parking place', 'comfortable ..."
4,116134,7693157,2013-09-30,1609507,Barbara,"The appartment is beautiful, the best I've eve...","['thanks paul', 'really recommend', 'prepared ..."
5,116134,8754158,2013-11-16,9463117,Brian,Enjoyed an excellent time in Antwerp. \r\n\r\n...,"['would recommend', 'top class', 'helpful tips..."
6,116134,11172172,2014-03-24,10997837,Rose,Fantastic trip to Antwerp!\r\n\r\nStaying in P...,"['fine art museums etc .)', '5 min taxi ride',..."
7,116134,12771833,2014-05-11,10598402,Michel,Wij hebben met ons drieën een volle week genot...,['schoon en met voldoende privacy voor een ied...
8,116134,15696591,2014-07-14,1497678,Katrin,Beautiful and spacious apartment with great in...,"['simple key handover', 'hip location', 'great..."
9,116134,16072435,2014-07-22,11939919,Chris,Great flat in a very nice area of Antwerp. Hos...,"['definitly recommend staying', 'well equiped'..."
10,116134,22793118,2014-11-15,2754930,Chris,Paul's apartment is excellent. The place is cl...,"['would recommend', 'trendy area', 'spacious',..."
11,116134,23208023,2014-11-25,21445655,Elizabeth,Paul and Gina greeted us and told us about the...,"['little bit early', 'made us feel', 'trendy a..."
12,116134,23829542,2014-12-11,22615566,Lauren,Paul was fantastic! I emailed him late at nigh...,"['stay last minute', 'paul responded quickly',..."
13,116134,25446535,2015-01-16,25293966,Jeff,Paul was already at the apartment when I arriv...,"['feel pretty special', 'decent road network',..."
14,116134,25747441,2015-01-25,9380730,Mascha,Mooi en groot appartement op een goede locatie...,['mooi en groot appartement op een goede locat...
15,116134,26583948,2015-02-16,18722745,Steve,An absolutely fantastic place. I have no hesit...,"['still fit 2 people', 'stay leaving us', 'qua..."
16,116134,26910644,2015-02-22,25052173,Torsten,Wir sind von dieser Wohnung total begeistert!...,['bis zur kathedrale im zentrum läuft man 15 b...
17,116134,27205460,2015-02-28,14147234,Justyna,"Lovely, very comfortable apartment in a great ...","['great neighborhood', 'comfortable apartment'..."
18,116134,28493682,2015-03-24,29146454,Andrew,"This is a great apartment that I would, and ha...","['everything explained clearly', 'yet cosy', '..."
19,116134,29050147,2015-04-03,3293278,Maria,Paul and Gina are amazing hosts - everything w...,"['supermarket next door', 'nespresso coffee ma..."
20,116134,29182691,2015-04-05,17807965,Eline,Het appartement van Paul ligt op een geweldige...,['parkeren onder het appartement erg gemakkeli...
21,116134,30097139,2015-04-17,24505805,Femia,Wij hebben een heerlijk verblijf gehad in het ...,['het appartement van paul en gina op het eila...
22,116134,30184712,2015-04-19,2402296,Corry,We hebben een zeer aangenaam verblijf gehad in...,['het zicht op het water en de flanerende mens...
23,116134,30516391,2015-04-23,9608094,Neil,We had a wonderful few days in this apartment....,"['enjoyable 20 minute walk away', 'great resta..."
24,116134,33001005,2015-05-24,4001560,Helene,Binnen minuten ontmoetten we eigenaar Paul. Vr...,['ik zal het appartement zeker aanbevelen bij ...
25,116134,34190431,2015-06-06,27255693,Bernhard,Die Wohnung ist absolut perfekt. Paul hat sich...,['alles erklärt und sehr viele wichtige und in...
26,116134,43894183,2015-08-23,2395497,Reinhart,Die Wohnung war für uns (zwei Paare)perfekt. S...,['auch wenn man mit dem zug anreist ist die wo...
27,116134,54581879,2015-11-22,519856,Nicole,Heerlijk weekend in Antwerpen met vriendinnen....,['om de hoek bij het bijzondere mas en tal van...
28,116134,55299600,2015-11-29,10039285,Marita,Wij hebben een superweekend gehad in dit mooie...,['bovendien verliep de communicatie soepel en ...
29,116134,55819667,2015-12-06,8322287,Graeme,"Perfect, again!",['perfect']
...,...,...,...,...,...,...,...
486223,30202932,355168473,2018-12-03,205463672,Maria,Excellente hospitalité sur tous les plans. Jac...,['nous nous sommes sentis comme à la maison et...
486224,30202960,351947549,2018-11-24,179652101,Le-Yang,The host canceled this reservation 41 days bef...,"['reservation 41 days', 'host canceled', 'auto..."
486225,30202960,352108851,2018-11-24,208049290,Ibrahim,The host canceled this reservation 39 days bef...,"['reservation 39 days', 'host canceled', 'auto..."
486226,30203105,351149025,2018-11-21,113846176,Yoann,The host canceled this reservation 10 days bef...,"['reservation 10 days', 'host canceled', 'auto..."
486227,30204048,354261668,2018-12-01,162410036,Franck,Très bon séjour et l'hôte est très sympa.,"['très bon séjour et l', 'hôte est très sympa']"
486228,30220744,354609792,2018-12-02,214656652,Jessie,We had such a great stay in this beautiful apa...,"['private roof terrace', 'home straight away',..."
486229,30244717,353952701,2018-11-30,218978575,Karina,Definitely recommend this place we had a great...,"['great stay', 'definitely recommend', 'absolu..."
486230,30248825,351836968,2018-11-24,204443,Brian,The host canceled this reservation 33 days bef...,"['reservation 33 days', 'host canceled', 'auto..."
486231,30248825,353488293,2018-11-28,47541457,Daniel,The host canceled this reservation 35 days bef...,"['reservation 35 days', 'host canceled', 'auto..."
486232,30248825,353520397,2018-11-28,98433211,Filip,The host canceled this reservation 32 days bef...,"['reservation 32 days', 'host canceled', 'auto..."
486233,30250660,355247427,2018-12-03,107897130,Marine,It was a great stay! Really flexible :),"['really flexible :)', 'great stay']"
486234,30251047,351947771,2018-11-24,227301653,Michelle,The host canceled this reservation 35 days bef...,"['reservation 35 days', 'host canceled', 'auto..."
486235,30280678,355181925,2018-12-03,159918317,Michèle,I had an excellent stay. It's a cute studio wi...,"['science park train station', 'half sized fri..."
486236,30309681,354272856,2018-12-01,82812890,Karolina,Alles bestens!,['alles bestens']
486237,30339819,353466323,2018-11-28,29213371,Houria,The host canceled this reservation 3 days befo...,"['reservation 3 days', 'host canceled', 'autom..."
486238,30339819,353470937,2018-11-28,75044296,Pablo,The host canceled this reservation 31 days bef...,"['reservation 31 days', 'host canceled', 'auto..."
486239,30339819,353470958,2018-11-28,227897039,Hoang Thuc Uyen,The host canceled this reservation 16 days bef...,"['reservation 16 days', 'host canceled', 'auto..."
486240,30339819,353472213,2018-11-28,161809860,Σταθης,The host canceled this reservation 21 days bef...,"['reservation 21 days', 'host canceled', 'auto..."
486241,30339819,353472377,2018-11-28,196807320,Valentina,The host canceled this reservation 28 days bef...,"['reservation 28 days', 'host canceled', 'auto..."
486242,30342336,354633687,2018-12-02,199503213,Tara,Really good located!!! Owners are really nice....,"['really good located !!!', 'little bit small'..."
486243,30346403,355992396,2018-12-06,9162553,Gérald,The host canceled this reservation 23 days bef...,"['reservation 23 days', 'host canceled', 'auto..."
486244,30393691,355221317,2018-12-03,116650142,Catalin,The host canceled this reservation 27 days bef...,"['reservation 27 days', 'host canceled', 'auto..."
486245,30418746,354894207,2018-12-02,11047518,Ethan,The host canceled this reservation 12 days bef...,"['reservation 12 days', 'host canceled', 'auto..."
486246,30423566,355482960,2018-12-04,29211442,R,Most wonderful hospitality and friendliness.,"['wonderful hospitality', 'friendliness']"
486247,30433356,355152237,2018-12-03,185768463,Winnie,The host canceled this reservation 28 days bef...,"['reservation 28 days', 'host canceled', 'auto..."
486248,30435529,355474875,2018-12-04,131376847,Andy,The host canceled this reservation the day bef...,"['host canceled', 'automated posting', 'reserv..."
486249,30439111,355041813,2018-12-02,103201416,Mohammed,The host canceled this reservation 20 days bef...,"['reservation 20 days', 'host canceled', 'auto..."
486250,30518120,355519016,2018-12-04,228738702,Valeriya,The host canceled this reservation 22 days bef...,"['reservation 22 days', 'host canceled', 'auto..."
486251,30525429,355658538,2018-12-05,111439550,Lucas,I loved this house! It is truly incredible and...,"['tiea en taia', 'tie en taia', 'maybe even be..."
486252,30550093,355872191,2018-12-06,226911176,Mohamed Amine,I love it I recommend,"['recommend', 'love']"